.projects-page{
    max-height: 100vh;
    overflow: auto;
    .text-zone{
        position: absolute;
        left: 35%;
        top: 12%;
        transform: translateY(-50%);
        width: 37%;
        min-width: 550px;
        max-width: 550px;
        max-height: 90%;
    }
    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &:after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }
}

@import '~bootstrap/dist/css/bootstrap.min.css';

.projects-section{
    display: block;
    position: absolute;
    top: 25%;
    left: 35%;
    .carousel-container {
        width: 95%;
        max-width: 550px; /* Constrain the width */
        
        .carousel-item img {
            max-height: 1000vh; /* Adjust to fit your design */
            width: auto; /* Maintain aspect ratio */
            height: auto; /* Maintain aspect ratio */
            display: block; /* Remove any extra space below images */
            margin: 0 auto; /* Center images horizontally */
        }
        .carousel-control-prev,
        .carousel-control-next {
            filter: invert(1); /* Example to change control colors if needed */
        }
    }
}